{% block sw_cms_block_product_3_6_3_column %}
    <div class="sw-cms-block-product-3-6-3-column">
        <slot name="col-1"></slot>
        <slot name="col-2"></slot>
        <slot name="col-3"></slot>
    </div>
{% endblock %}
