{% block sw_cms_block_grid_8_4_preview %}
    <div class="sas-cms-grid-block-8-4-column-preview">
        <div class="sas-cms-block-grid">
            <div class="sas-cms-block-column" style="width: 66.666%;"></div>
            <div class="sas-cms-block-column" style="width: 33.333%;"></div>
        </div>
    </div>
{% endblock %}
