{% block sw_cms_block_grid__2_2_2_2_2_2_column_preview %}
    <div class="sas-cms-grid-block-four-column-preview">
        <div class="sas-cms-block-grid">
            <div class="sas-cms-block-column" style="width: 16.6667%;"></div>
            <div class="sas-cms-block-column" style="width: 16.6667%;"></div>
            <div class="sas-cms-block-column" style="width: 16.6667%;"></div>
            <div class="sas-cms-block-column" style="width: 16.6667%;"></div>
            <div class="sas-cms-block-column" style="width: 16.6667%;"></div>
            <div class="sas-cms-block-column" style="width: 16.6667%;"></div>
        </div>
    </div>
{% endblock %}
