{% block sw_cms_block_grid__2_2_2_2_2_2_column %}
    <div class="sw-cms-grid-block-2-2-2-2-2-2-column">
        <slot name="col-1"></slot>
        <slot name="col-2"></slot>
        <slot name="col-3"></slot>
        <slot name="col-4"></slot>
        <slot name="col-5"></slot>
        <slot name="col-6"></slot>
    </div>
{% endblock %}
