{% block sw_cms_block_grid__3_3_3_3_column_preview %}
    <div class="sas-cms-grid-block-four-column-preview">
        <div class="sas-cms-block-grid">
            <div class="sas-cms-block-column" style="width: 25%;"></div>
            <div class="sas-cms-block-column" style="width: 25%;"></div>
            <div class="sas-cms-block-column" style="width: 25%;"></div>
            <div class="sas-cms-block-column" style="width: 25%;"></div>
        </div>
    </div>
{% endblock %}
