{% block sw_cms_block_grid_4_8_preview %}
    <div class="sas-cms-grid-block-4-8-column-preview">
        <div class="sas-cms-block-grid">
            <div class="sas-cms-block-column" style="width: 33.3333%;"></div>
            <div class="sas-cms-block-column" style="width: 66.666%;"></div>
        </div>
    </div>
{% endblock %}
