{% block sw_cms_block_grid_12_preview %}
    <div class="sas-cms-grid-block-12-column-preview">
        <div class="sas-cms-block-grid">
            <div class="sas-cms-block-column" style="width: 100%;"></div>
        </div>
    </div>
{% endblock %}
