{% block sw_cms_grid_block_five_columns %}
    <div class="sw-cms-grid-block-five-columns">
        <slot name="col-1"></slot>
        <slot name="col-2"></slot>
        <slot name="col-3"></slot>
        <slot name="col-4"></slot>
        <slot name="col-5"></slot>
    </div>
{% endblock %}
