{% block sw_cms_block_product_3_3_6_column_preview %}
    <div class="sas-cms-grid-block-3-3-6-column-preview">
        <div class="sas-cms-block-grid">
            <div class="sas-cms-block-column" style="width: 25%;"></div>
            <div class="sas-cms-block-column" style="width: 25%;"></div>
            <div class="sas-cms-block-column" style="width: 50%;"></div>
        </div>
    </div>
{% endblock %}
