{% block block_grid_3_6_3 %}

    {% block block_grid_3_6_3_col_1 %}
        {% set element = block.slots.getSlot('col-1') %}

        <div class="col-12 col-md-3">
            {% block block_grid_3_6_3_col_1_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_grid_3_6_3_col_2 %}
        {% set element = block.slots.getSlot('col-2') %}

        <div class="col-12 col-md-6">
            {% block block_grid_3_6_3_col_2_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_grid_3_6_3_col_3 %}
        {% set element = block.slots.getSlot('col-3') %}

        <div class="col-12 col-md-3">
            {% block block_grid_2_8_2_col_3_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

{% endblock %}
