{% block sw_cms_block_grid_12_preview %}
    <div class="sas-cms-grid-block-five-columns-preview">
        <div class="sas-cms-block-grid">
            <div class="sas-cms-block-column" style="width: 20%;"></div>
            <div class="sas-cms-block-column" style="width: 20%;"></div>
            <div class="sas-cms-block-column" style="width: 20%;"></div>
            <div class="sas-cms-block-column" style="width: 20%;"></div>
            <div class="sas-cms-block-column" style="width: 20%;"></div>
        </div>
    </div>
{% endblock %}
